name: Cypress UI E2E

on:
  workflow_call:
    secrets:
      WORKING_DIRECTORY:
        required: true
      TESTRAILS_RUN_NAME:
        required: true
      TESTRAIL_HOST:
        required: true
      TESTRAIL_DOMAIN:
        required: true
      TESTRAIL_USERNAME:
        required: true
      TESTRAIL_PASSWORD:
        required: true
      TESTRAIL_APIKEY:
        required: true
      TESTRAIL_PROJECTID:
        required: true
    
jobs:
  e2e-ui-test:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: ${{secrets.WORKING_DIRECTORY}}
      TESTRAILS_RUN_NAME: ${{secrets.TESTRAILS_RUN_NAME}}
      TESTRAIL_PROJECTID: ${{secrets.TESTRAIL_PROJECTID}}
      TESTRAIL_HOST: ${{secrets.TESTRAIL_HOST}}
      TESTRAIL_DOMAIN: ${{secrets.TESTRAIL_DOMAIN}}
      TESTRAIL_USERNAME: ${{secrets.TESTRAIL_USERNAME}}
      TESTRAIL_PASSWORD: ${{secrets.TESTRAIL_PASSWORD}}
      TESTRAIL_APIKEY: ${{secrets.TESTRAIL_PASSWORD}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install
        uses: cypress-io/github-action@v4
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          runTests: false
      - name: Start TestRail Run
        id: testRail
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          runName="${TESTRAILS_RUN_NAME}"
          runId=$(npx testrail-start-run "${runName}")
      - name: Cypress Test Run
        uses: cypress-io/github-action@v4
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}
          install-command: echo "Already installed"
        env:
          TESTRAIL_RUN_ID: ${{ steps.testRail.outputs.runId }}
      - name: Close TestRail Run
        if: ${{ always() }}
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          npx testrail-close-run ${{ steps.testRail.outputs.runId }}
      
